body {
    font-family: Arial;
}
section {
    width: 50%;
    padding: 10px;
    border: 3px solid gray;
    margin: auto;
    text-align: justify;
}
a {
    color: black;
}
a:hover {
    color: #419412;
}
@media (max-width: 419px) {
    section {
        width: 90%;
        border: none;
    }
}
@media (min-width: 420px) and (max-width: 767px) {
    section {
        width: 70%;
        border: 3px solid #2132cf;
    }
}
@media (min-width: 768px) {
    section {
        width: 50%;
        border: 3px solid #808080;
    }
}