body {
    font-family: Arial;
}

.container {
    width: 90%;
    padding: 10px;
    /* border: 3px solid grey; */
    border: unset;
    margin: 0 auto;
    text-align: justify;
}

@media screen and (width > 419px) and (width < 768px) {
    .container {
        width: 70%;
        border: 3px solid #2132cf;
    }
}

@media screen and (width >= 768px) {
    .container {
        width: 50%;
        border: 3px solid #808080;
    }
}

.link:hover {
    color: #419412;
}

.bold-text {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}