.calculator {
    width: 300px;
    height: 250px;
    padding: 30px;
    border: 3px solid #808080;
    border-radius: 20px;
    margin: 0 auto;
}

.result {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;
    font-size: 18px;
    text-align: right;
}

.number-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

button {
    width: 40px;
    height: 30px;
    border-radius: 5px;
    flex: 1;
}

button:hover {
    cursor: pointer;
}
